//fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$default: 'Montserrat', sans-serif;

//color palette 
$pink: #EE3A8C;
$gray: #B9BDC0;
$light-gray: #c1c1be;
$off-white: #fafafa;

$spacer: 20px;

body{
  font-family: $default;
  background: $light-gray;
  color: $pink;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
  text-align: center;
}

h1{
  font-size: 2em;
}

p {
  color: black;
}

a {
  text-decoration: none;
  color: $pink;
  transition: all linear .2s;

  &:hover {
    color: $gray;
    text-decoration: none;
  }
}