/**
 * ABOUT
 */

.curved-divider {
  background-color: $light-gray;
  fill: white;
}
.about{
	margin-top: 0px;
	background-color: white;
	text-align: center;
}
.header_photo{
	img{
		border-radius: 25px;
	}
}