/**
 * ABOUT
 */

.curved-divider {
  background-color: $light-gray;
  fill: white;
  border: none;
}
.about{
	margin-top: 0px;
	background-color: white;
	text-align: center;

	> .container {
		padding-top: 0;
	}
}
.header_photo{
	img{
		border-radius: 25px;
	}
}