/**
 * ALL SECTIONS
 */
section{
  background-color: $off-white;
  text-align: center;
}
.section-title{
	margin: 0px;
}

.curved-divider {
  background-color: $light-gray;
  fill: $off-white;
  border: none;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: $spacer;

  @media (min-width: 500px) {
    padding: 0px;
  }
}

.content {
	display: flex;
	flex-direction: column;
	text-align: center;
	align: center;
	padding: $spacer;
	
	@media (min-width: 500px){
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
	}
}

/**
 * ABOUT
 */

.about{

    img{
    	height: 250px;
    	border-radius: 25px;
    }

	&_text{
   		padding-right: 5%;
   	}
}

/**
 * PROJECTS
 */
 .project-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	align: center;
	padding: $spacer;
}
.project_links{
	list-style: none;
	display: flex;
	margin: auto;
	text-align: center;
	li{
		padding: $spacer;
	}
	.project-container{
		position: relative;

		img{
			border-radius: 25px;
		}
		.overlay {
		 	position: absolute;
		  	bottom: 100%;
		  	left: 0;
		  	right: 0;
		  	border-radius: 25px;
		  	background-color: rgba(193, 193, 190, 0.79);
		  	overflow: hidden;
		  	width: 100%;
		 	height:0;
		  	transition: .5s ease;
		  	.text {
				color: black;
				font-size:1.25em;
				position: absolute;
				overflow: hidden;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
			}
		}
		&:hover {
	    	.overlay{
	    		bottom: 0;
	  			height: 100%;
	    	}
	  	}
	}
}

 /**
 * CONTACT
 */
.contact-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	align: center;
	padding: $spacer;
}
.contact_links{
	list-style: none;
	display: flex;
	margin: auto;
	a{
		color: black;
	}
	li{
		padding: $spacer;
		font-size: 3em;
	}
}

/**
 * FOOTER
 */
 .footer{
 	background-color: $light-gray; 
 	i {
 		color: $pink;
 	}
 	p {
 		padding-left: 4px;
 		font-weight: 400;
 	}
 }