doctype
html
	head
		!= partial("_partials/head")
	body
		!= partial("_partials/header")
		main
			section.about
				!= partial("_partials/topdivider")
				.container
					h1.section-title About Me
					.about_info
						!= yield
						.about_photo
							img(src="assets/images/me.jpg" alt="me holding a french pastry in front of my face")
			!= partial("_partials/bottomdivider")
			section.projects
				!= partial("_partials/topdivider")
				.container
					h1.section-title My Projects
					.projects_info
						!=partial("_partials/projects")
			!= partial("_partials/bottomdivider")
			section.footer
				!=partial("_partials/footer")
