doctype
html
	head
		!= partial("_partials/head")
	body
		!= partial("_partials/header")
		main
			section.about
				!= partial("_partials/topdivider")
				.container
					h1.section-title About Me
					.content
						!= yield
						.about_photo
							img(src="assets/images/me.jpg" alt="me holding a french pastry in front of my face")
			!= partial("_partials/bottomdivider")
			// DONT NEED THIS ANYMORE, I GOT A JOB :)
			// section.projects
			// 	!= partial("_partials/topdivider")
			// 	.container
			// 		h1.section-title My Projects
			// 		.project-content
			// 			!=partial("_partials/projects")
			// != partial("_partials/bottomdivider")
			section.contact
				!=partial("_partials/topdivider")
				.container
					h1.section-title Contact
					.contact-content
						!=partial("_partials/contact")
			!=partial("_partials/bottomdivider")
			section.footer
				!=partial("_partials/footer")
