div.about_text
	p 
		| I am a recent graduate of Northwestern University. My main interests revolve around human-computer interaction and designing accessible technology. 
	p 
		| I am very excited to be joining the engineering team at 
		a(href="https://bytes.grubhub.com/engineering/home") Grubhub 
		| this coming fall! 
	p 
		| Stay tuned for more updates in the future!