div.about_text
	p I am a senior undergraduate in computer science at Northwestern University. My main interests revolve around human-computer interaction and designing technology that is accessible to everyone..... add more text here blah blah blah.......
	p I am passionate about technology, art, creativity, and communication.... In my spare time, I can be found in a dance studio training and choreographing for my second major in dance or working as artistic director for Graffiti Dancers, Northwestern's oldest student-run dance company.