div.about_text
	p 
		| I am a senior undergraduate in computer science at Northwestern University. My main interests revolve around human-computer interaction and designing accessible technology. 
	p 
		| I recently joined the 
		a(href="http://dtr.northwestern.edu/")  Design, Technology, and Research 
		| team in the 
		a(href="http://delta.northwestern.edu/") Delta Lab
		|, where I am advised by 
		a(href="http://users.eecs.northwestern.edu/~hq/") Haoqi Zhang 
		| and 
		a(href="http://www.eleanorourke.com/") Nell O'Rourke. 
		| Outside of my coursework, I work as an undergraduate TA for various introductory CS courses in C# and 
		a(href="https://racket-lang.org/") Racket.
	p 
		| In my spare time, I can be found in a dance studio training and choreographing for my secondary major in dance or working as artistic director for 
		a(href="https://www.facebook.com/graffitidancersnorthwestern/") Graffiti Dancers, 
		| Northwestern's oldest student-run dance company.