div.contact_section
	ul.contact_links
		li
			a(href="mailto: meganconlon2018@u.northwestern.edu")
				i.fa(class="fa-envelope" aria-hidden="true")
		li
			a(href="https://github.com/megancon")
				i.fa(class="fa-github-alt" aria-hidden="true")
		li
			a(href="http://www.linkedin.com/in/meganconlon")
				i.fa(class="fa-linkedin-square" aria-hidden="true")

p 
	| Or check out my resume 
	a(href="../assets/docs/conlon_megan.pdf") here.