header.header.container
	.header_intro
		h1.header_title Hi, I'm Megan.
		//- p.header_school I like to code, dance, and eat breakfast foods.
		p.header_info I like to code, dance, and eat breakfast foods.

	//- .header__photo
	//- 	img(src="assets/images/me.jpg" alt="me holding a french pastry in front of my face")