ul.project_links
	li
		a(href="https://github.com/nuvention-web/Team-D" target = '_blank')
			.project-container
				img(src="../assets/images/teleos.png" alt="teleos logo")
				.overlay
					p.text Teleos
	li
		a(href="https://megancon.github.io/ny-ems-response-predictor/" target = '_blank')
			.project-container
				img(src="../assets/images/ambulance.jpeg" alt="teleos logo")
				.overlay
					p.text EMS Response Predictor